# This file is created automatically by the IDE when we add docker compose to the solution
# The function of this file is to allow you to define changes to an existing Compose file without modifying the original
# This way we can adapt it to diferent environments without modifiyng the original configuration
version: '3.4'

services:
  proplanetreplicationtool:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "8080"
      - "8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro